<ion-header class="header-class">
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons mode="ios" slot="secondary">
      <ion-button (click)="goback()">
        <ion-icon slot="icon-only" size="default" name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">
      {{ 'new_payment_method' | translate }}
      <br>
      <span size="small">
        {{userId}}
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-row class="">
    <form #paymentData="ngForm" id="paymentData" (ngSubmit)="paymentSubmit(paymentData)" novalidate>
      <ion-row class="payment-row">
        <span class="payment-title-span">
          {{ 'payment_method' | translate }}
        </span>
      </ion-row>

      <ion-row class="payment-row">
        <ion-col>
          <mat-form-field>
            <mat-select placeholder="{{ 'select' | translate }}" [(ngModel)]="payData.method" class="select-class"
              required (ngModelChange)="selectMethod()" name="methodtype">
              <!-- <mat-option value="Paypal">
                {{ 'paypal' | translate }}
              </mat-option> -->
              <mat-option value="credit">
                {{ 'credit_card' | translate }}
              </mat-option>
              <mat-option value="debit">
                {{ 'debit_card' | translate }}
              </mat-option>
              <mat-option value="master">
                {{ 'master_card' | translate }}
              </mat-option>
            </mat-select>
            <mat-error>
              {{ 'choose_type_of_payment' | translate }}
            </mat-error>
          </mat-form-field>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!defaultState" class="new-payment-name">
        <ion-row class="payment-row">
          <span class="payment-title-span">
            {{ 'name' | translate }}
          </span>
        </ion-row>

        <ion-row class="payment-row">
          <mat-form-field class="example-full-width">
            <input matInput class="payment-input" type="text" #title="ngModel" [(ngModel)]="payData.name" required
              placeholder="{{ 'your_name' | translate }}" name="name" />

            <mat-error id="matLoginError2">
              <span>{{ 'your_name_required' | translate }}</span>
            </mat-error>

          </mat-form-field>
        </ion-row>

        <ion-row class="payment-row">
          <span class="payment-title-span">
            {{ 'credit_card_num' | translate }}
          </span>
        </ion-row>

        <ion-row class="payment-row">
          <mat-form-field class="example-full-width">
            <input matInput class="payment-input" type="text" #title="ngModel" [(ngModel)]="payData.cardnum" required
              placeholder="{{ '16_digit_credit_num' | translate }}" name="CardNumber" />

            <mat-error id="matLoginError2">
              <span>{{ 'credit_card_num_required' | translate }}</span>
            </mat-error>

          </mat-form-field>

        </ion-row>

        <ion-row class="payment-row">
          <span class="payment-title-span">
            {{ 'expiry' | translate }}
          </span>
        </ion-row>

        <ion-row class="payment-row">
          <ion-col size="4">
            <ion-row class="full-height">
              <mat-form-field>
                <mat-select [(ngModel)]="payData.exm" class="expire-select" required name="payExm"
                  placeholder="{{ 'month' | translate }}">
                  <mat-option *ngFor="let list of expireMonth" value="{{list}}">
                    {{list}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  {{ 'month_require' | translate }}
                </mat-error>
              </mat-form-field>

            </ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-row class="full-height">
              <mat-form-field>
                <mat-select [(ngModel)]="payData.exy" class="expire-select" required name="payExy"
                  (ngModelChange)="selectExpireYear()" placeholder="{{ 'year' | translate }}">
                  <mat-option *ngFor="let list of expireYear" value="{{list}}">
                    {{list}}
                  </mat-option>
                </mat-select>
                <mat-error>{{ 'year_require' | translate }}</mat-error>

              </mat-form-field>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-row>

      <button ion-button style="display:none" id="trigersubmit">Triger Submit</button>
    </form>

    <ion-row class="add-cancel">
      <ion-col size="1">
      </ion-col>
      <ion-col size="5">
        <ion-row class="button-row">
          <button ion-button class="button-style1" (click)="submitAddPayment()">
            {{ 'add' | translate }}
          </button>
        </ion-row>
      </ion-col>
      <ion-col size="5">
        <ion-row class="button-row">
          <button ion-button class="button-style2" (click)="goback()">
            {{ 'cancel_UP' | translate }}
          </button>
        </ion-row>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
  </ion-row>

</ion-content>