.normal-row {
    border: none;
    border-radius: unset;
    border-top: 2px solid #ddd;
    height: 45px;
}

.other-head-col {
    margin: auto;
    color: #00a39a;
    font-weight: bold;
}

.other-body-col {
    margin: auto;
    color: black;
    font-weight: bold;
    width: 100%;
}