<ion-header class="header-class">
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons mode="ios" slot="secondary">
      <ion-button (click)="goback()">
        <ion-icon slot="icon-only" size="default" name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">
      {{ 'bill_history' | translate }}
    </ion-title>
  </ion-toolbar>


</ion-header>


<ion-content padding class="bill-content">

  <ion-row [ngClass]="{'main-row':i == 0, 'other-row':i != 0}" *ngFor="let list of detailData; let i = index">
    <ion-row class="first-row">
      <ion-col size="6" text-left>
        <ion-row class="full-height">
          <span class="name-span">
            {{ 'bill_number' | translate }}
          </span>
          <span class="detail-span">
            {{list.billNum}}
          </span>
        </ion-row>
      </ion-col>

      <ion-col size="6" text-right>
        <ion-row class="full-height">
          <span class="name-span">
            {{ 'due_date' | translate }}
          </span>
          <span class="detail-span">
            {{list.dueDate}}
          </span>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="bill-second-row">
      <ion-col size="6" text-left>
        <ion-row class="full-height">
          <span class="name-span">
            {{ 'amount_owing' | translate }}
          </span>
          <span class="detail-span">
            {{list.amountOwin}}
          </span>
        </ion-row>
      </ion-col>

      <ion-col size="6" text-right>
        <ion-row class="full-height">
          <button mat-button mode="ios" class="down-button-class" (click)="download(i)">
            <img src="assets/imgs/download.png" class="download-image" />
            {{ 'download' | translate }}
          </button>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-row>

</ion-content>