<ion-header class="header-class">
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons mode="ios" slot="secondary">
      <ion-button (click)="goback()">
        <ion-icon slot="icon-only" size="default" name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-wrap size="large">
      {{ 'change_password' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-row class="main-row">
    <form #comProfileForm="ngForm" id="comProfileForm" (ngSubmit)="completeAddCompany(comProfileForm)" novalidate>

      <ion-row class="password-row">
        <mat-form-field class="example-full-width">
          <input matInput type="password" [(ngModel)]="userData.oldPass" required placeholder="{{ 'old_password' | translate }}"
            name="password" />

          <mat-error>
            <span>{{ 'old_password_is_required' | translate }}</span>
          </mat-error>

        </mat-form-field>
      </ion-row>

      <ion-row class="password-row">
        <mat-form-field class="example-full-width">
          <input matInput type="password" [(ngModel)]="userData.newPass" required placeholder="{{ 'new_password' | translate }}"
            name="new_password" />

          <mat-error>
            <span>{{ 'new_password_is_required' | translate }}</span>
          </mat-error>

        </mat-form-field>
      </ion-row>

      <ion-row class="login-row">
        <button mat-mini-fab class="button-class">
          {{ 'change' | translate }}
        </button>
      </ion-row>
    </form>
  </ion-row>

</ion-content>