<ion-header class="header-class">
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons mode="ios" slot="secondary">
      <ion-button (click)="goback()">
        <ion-icon slot="icon-only" color="light" size="default" name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">
      {{ 'pay' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row class="pay-now-row" padding-top padding-start padding-end>
    <span class="payment-title-span">
      {{ 'payment_method' | translate }}
    </span>
  </ion-row>

  <form #paymentForm="ngForm" id="paymentForm" (ngSubmit)="paymentSubmit(paymentForm)" novalidate padding-bottom
    padding-start padding-end>
    <ion-row class="pay-now-row">
      <ion-col col-12>
        <mat-form-field>
          <mat-select placeholder="{{ 'select' | translate }}" [(ngModel)]="payData.method" class="select-class"
            required name="select_paymode">
            <mat-option value="Visa">
              {{ 'visa' | translate }}
            </mat-option>
            <mat-option value="Paypal">
              {{ 'paypal' | translate }}
            </mat-option>
          </mat-select>
          <mat-error>
            {{ 'choose_type_of_payment' | translate }}
          </mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>

    <ion-row class="pay-now-row">
      <span class="payment-title-span">
        {{ 'total_amount' | translate }}
      </span>
    </ion-row>

    <ion-row class="pay-now-row">

      <span class="payment-amount-span">
        ${{totalAmount}}
      </span>

    </ion-row>

    <ion-row class="pay-now-row">
      <mat-checkbox class="example-margin" [(ngModel)]="checked" name="checked">Do you want to pay custom amount?
      </mat-checkbox>
    </ion-row>

    <ion-row class="pay-now-row" *ngIf="checked">
      <span class="payment-title-span">
        {{ 'amount' | translate }}
      </span>
    </ion-row>

    <ion-row class="pay-now-row" *ngIf="checked">

      <mat-form-field class="example-full-width">

        <span matPrefix>$ &nbsp;</span>
        <input matInput class="payment-input" type="number" [formControl]="customAmount" min="0" [(ngModel)]="payAmount"
          required placeholder="{{ 'amount' | translate }}" name="payAmount" />

        <mat-error *ngIf="customAmount.hasError('required')">
          <span>{{ 'payment_amount_required' | translate }}</span>
        </mat-error>

      </mat-form-field>

      <ion-row class="error-message" *ngIf="!customAmount.hasError('required') && payAmount > totalAmount">
        <span>{{ 'payment_amount_over' | translate }}</span>
      </ion-row>

    </ion-row>

    <ion-row class="add-cancel">
      <ion-col size="1">
      </ion-col>
      <ion-col size="5">
        <ion-row class="button-row">
          <button mat-button class="button-style2" (click)="goback()">
            {{ 'cancel_UP' | translate }}
          </button>
        </ion-row>
      </ion-col>
      <ion-col size="5">
        <ion-row class="button-row">
          <button mat-button class="button-style1">
            {{ 'pay' | translate }}
          </button>
        </ion-row>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>

  </form>

  <ion-row class="full-height pay-notification" *ngIf="cancenEnable">
    <ion-row class="main-row">
      <ion-row class="title-row">
        <span class="title-span">
          {{'payment_submit_successfully' | translate}}
        </span>
      </ion-row>

      <ion-row class="button-row">
        <button ion-button class="button-class" (click)="gotoPaymenthistory()">
          Ok
        </button>
      </ion-row>
    </ion-row>
  </ion-row>

</ion-content>