<ion-header class="header-class">
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons mode="ios" slot="secondary">
      <ion-button (click)="goback()">
        <ion-icon slot="icon-only" size="default" name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">
      {{ 'update_payment' | translate }}
      <br>
      <span size="small">
        {{userId}}
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-row class="">
    <form #paymentData="ngForm" id="paymentData" (ngSubmit)="paymentSubmit(paymentData)" novalidate>

      <ion-row class="payment-row">
        <span class="payment-title-span">
          {{ 'name' | translate }}
        </span>
      </ion-row>

      <ion-row class="payment-row">
        <mat-form-field class="example-full-width">
          <input matInput class="payment-input" disabled type="text" #title="ngModel" [(ngModel)]="payData.name"
            placeholder="{{ 'your_name' | translate }}" name="name" />
        </mat-form-field>
      </ion-row>

      <ion-row class="payment-row">
        <span class="payment-title-span">
          {{ 'credit_card_num' | translate }}
        </span>
      </ion-row>

      <ion-row class="payment-row">
        <mat-form-field class="example-full-width">
          <input matInput class="payment-input" disabled type="text" #title="ngModel" [(ngModel)]="payData.number"
            placeholder="{{ 'your_name' | translate }}" name="CardNumber" />
        </mat-form-field>
      </ion-row>

      <ion-row class="payment-row">
        <span class="payment-title-span">
          {{ 'expiry' | translate }}
        </span>
      </ion-row>

      <ion-row class="payment-row">
        <ion-col size="4">
          <ion-row class="full-height">
            <mat-form-field>
              <mat-select [formControl]="selExm" [(ngModel)]="payData.exm" class="expire-select" required>
                <mat-option *ngFor="let list of expireMonth" value="{{list}}">
                  {{list}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="selExm.hasError('required')">
                {{ 'choose_type_of_payment' | translate }}
              </mat-error>
            </mat-form-field>

          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-row class="full-height">
            <mat-form-field>
              <mat-select [formControl]="selExy" [(ngModel)]="payData.exy" class="expire-select" required>
                <mat-option *ngFor="let list of expireYear" value="{{list}}">
                  {{list}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="selExy.hasError('required')">{{ 'choose_type_of_payment' | translate }}</mat-error>

            </mat-form-field>
          </ion-row>
        </ion-col>
      </ion-row>
      <button ion-button style="display:none" id="trigersubmit">Triger Submit</button>
    </form>

    <ion-row class="add-cancel">
      <ion-col size="1">
      </ion-col>
      <ion-col size="5">
        <ion-row class="button-row">
          <button ion-button class="button-style1" (click)="submitAddPayment()">
            {{ 'update' | translate }}
          </button>
        </ion-row>
      </ion-col>
      <ion-col size="5">
        <ion-row class="button-row">
          <button ion-button class="button-style2" (click)="goback()">
            {{ 'cancel_UP' | translate }}
          </button>
        </ion-row>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
  </ion-row>

</ion-content>