<ion-header class="header-class">
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons mode="ios" slot="secondary">
      <ion-button (click)="goback()">
        <ion-icon slot="icon-only" size="default" name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">
      {{ 'account_balance' | translate }}
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <form #balanceForm="ngForm" id="balanceForm" (ngSubmit)="balanceSubmit(balanceForm)" novalidate padding-bottom
    padding-start padding-end>

    <ion-row class="payment-row">
      <span class="payment-title-span">
        {{ 'payment_method' | translate }}
      </span>
    </ion-row>

    <ion-row class="pay-now-row">
      <ion-col col-12>
        <mat-form-field>
          <mat-select placeholder="{{ 'select' | translate }}" [(ngModel)]="balanceData.method" class="select-class"
            required name="select_paymode" (ngModelChange)="selectMethod()">
            <mat-option value="Paypal">
              {{ 'paypal' | translate }}
            </mat-option>
            <mat-option value="Visa">
              {{ 'visa' | translate }}
            </mat-option>
          </mat-select>
          <mat-error>
            {{ 'choose_type_of_payment' | translate }}
          </mat-error>
        </mat-form-field>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="cardState">
      <ion-row class="payment-row">
        <span class="payment-title-span">
          {{ 'name' | translate }}
        </span>
      </ion-row>

      <ion-row class="payment-row">
        <mat-form-field class="example-full-width">
          <input matInput class="payment-input" type="text" #title="ngModel" [(ngModel)]="balanceData.name" required
            placeholder="{{ 'your_name' | translate }}" name="name" />

          <mat-error id="matLoginError2">
            <span>{{ 'your_name_required' | translate }}</span>
          </mat-error>

        </mat-form-field>
      </ion-row>

      <ion-row class="payment-row">
        <span class="payment-title-span">
          {{ 'credit_card_num' | translate }}
        </span>
      </ion-row>

      <ion-row class="payment-row">
        <mat-form-field class="example-full-width">
          <input matInput class="payment-input" type="text" #title="ngModel" [(ngModel)]="balanceData.cardNum" required
            placeholder="{{ '16_digit_credit_num' | translate }}" name="CardNumber" />

          <mat-error id="matLoginError2">
            <span>{{ 'credit_card_num_required' | translate }}</span>
          </mat-error>

        </mat-form-field>
      </ion-row>

      <ion-row class="payment-row">
        <span class="payment-title-span">
          {{ 'expiry' | translate }}
        </span>
      </ion-row>

      <ion-row class="payment-row">
        <ion-col size="4">
          <ion-row class="full-height">
            <mat-form-field>
              <mat-select [(ngModel)]="balanceData.exm" placeholder="{{ 'month' | translate }}" class="expire-select"
                required name="balanceExm">
                <mat-option *ngFor="let list of expireMonth" value="{{list}}">
                  {{list}}
                </mat-option>
              </mat-select>
              <mat-error>
                {{ 'month_require' | translate }}
              </mat-error>
            </mat-form-field>

          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-row class="full-height">
            <mat-form-field>
              <mat-select [(ngModel)]="balanceData.exy" placeholder="{{ 'year' | translate }}" class="expire-select"
                required (ngModelChange)="setMonthList()" name="balanceExy">
                <mat-option *ngFor="let list of expireYear" value="{{list}}">
                  {{list}}
                </mat-option>
              </mat-select>
              <mat-error>{{ 'year_require' | translate }}</mat-error>
            </mat-form-field>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row class="pay-now-row">
      <span class="payment-title-span">
        {{ 'amount' | translate }}
      </span>
    </ion-row>

    <ion-row class="pay-now-row">
      <span class="payment-amount-span">
        ${{balanceData.amount}}
      </span>
    </ion-row>

    <ion-row class="add-cancel">
      <ion-col size="1">
      </ion-col>
      <ion-col size="5">
        <ion-row class="button-row">
          <button mat-button class="button-style2" (click)="goback()">
            {{ 'cancel_UP' | translate }}
          </button>
        </ion-row>
      </ion-col>
      <ion-col size="5">
        <ion-row class="button-row">
          <button mat-button class="button-style1">
            {{ 'update' | translate }}
          </button>
        </ion-row>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>

  </form>
</ion-content>