<ion-header class="header-class">
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons mode="ios" slot="secondary">
      <ion-button (click)="goback()">
        <ion-icon slot="icon-only" size="default" name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">
      {{ 'forgot_password' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form #forgotPasswordData="ngForm" id="forgotPasswordData" (ngSubmit)="forgotSubmit(forgotPasswordData)" novalidate>

    <ion-row class="forgot-password-row">
      <span class="payment-title-span">
        {{ 'account_number' | translate }}
      </span>
    </ion-row>

    <ion-row class="forgot-detail-row">
      <mat-form-field class="example-full-width">
        <input matInput class="payment-input" type="text" #title="ngModel" [(ngModel)]="passData.accountNumber"
          placeholder="{{ 'account_number' | translate }}" name="accountNumber" required />
        <mat-error>
          <span>{{ 'account_number_required' | translate }}</span>
        </mat-error>
      </mat-form-field>
    </ion-row>

    <ion-row class="forgot-password-row">
      <span class="payment-title-span">
        {{ 'new_password' | translate }}
      </span>
    </ion-row>

    <ion-row class="forgot-detail-row">
      <mat-form-field class="example-full-width">
        <input matInput class="payment-input" type="password" #title="ngModel" [(ngModel)]="passData.password"
          placeholder="{{ 'new_password' | translate }}" name="password" required />

        <mat-error>
          <span>{{ 'new_password_is_required' | translate }}</span>
        </mat-error>

      </mat-form-field>
    </ion-row>

    <ion-row class="forgot-password-row">
      <span class="payment-title-span">
        {{ 'confirm_passwprd' | translate }}
      </span>
    </ion-row>

    <ion-row class="forgot-detail-row">
      <mat-form-field class="example-full-width">
        <input matInput class="payment-input" type="password" [formControl]="confirmPassword"
          [(ngModel)]="passData.confirmPass" placeholder="{{ 'confirm_passwprd' | translate }}" name="confirmPass"
          required />

      </mat-form-field>


      <ion-row class="error-message"
        *ngIf="confirmPassword.hasError('required') && (submitState || confirmPassword.touched)">
        <span>{{ 'confirm_passwprd_is_required' | translate }}</span>
      </ion-row>

      <ion-row class="error-message"
        *ngIf="!confirmPassword.hasError('required') && passData.password != passData.confirmPass">
        <span>{{ 'confirm_passwprd_no_match' | translate }}</span>
      </ion-row>

    </ion-row>

    <button ion-button style="display:none" id="trigersubmit">Triger Submit</button>
  </form>

  <ion-row class="add-cancel">
    <ion-col size="1">
    </ion-col>
    <ion-col size="5">
      <ion-row class="button-row">
        <button ion-button class="button-style1" (click)="submitAddPayment()">
          {{ 'update' | translate }}
        </button>
      </ion-row>
    </ion-col>
    <ion-col size="5">
      <ion-row class="button-row">
        <button ion-button class="button-style2" (click)="goback()">
          {{ 'cancel_UP' | translate }}
        </button>
      </ion-row>
    </ion-col>
    <ion-col size="1">
    </ion-col>
  </ion-row>


</ion-content>