<ion-header class="header-class">
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons mode="ios" slot="secondary">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" size="default" name="ios-menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-wrap size="large">
      {{ 'settings' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="setting-content">

  <ion-row class="main-row each-seting">
    <!-- <ion-col size="2"> -->
    <ion-row class="full-height">
      <img src="assets/imgs/lock.png" class="lock-image" alt="">
      &nbsp;&nbsp;
      <span class="change-password">{{ 'change_password' | translate }}</span>
    </ion-row>
    <!-- </ion-col> -->
    <!-- <ion-col size="10">
      <ion-row class="full-height" (click)="gotoChangePass()">
        <span class="change-password">{{ 'change_password' | translate }}</span>
      </ion-row>
    </ion-col> -->
  </ion-row>

  <ion-row class="each-seting">
    <!-- <ion-col size="2"> -->
    <ion-row class="full-height">
      <img src="assets/imgs/pin_code.png" class="lock-image" alt="">
      &nbsp;&nbsp;
      <span class="change-password">{{ 'change_pin' | translate }}</span>
    </ion-row>
    <!-- </ion-col> -->
    <!-- <ion-col size="10">
      <ion-row class="full-height">
        <span class="change-password">{{ 'change_pin' | translate }}</span>
      </ion-row>
    </ion-col> -->
  </ion-row>

  <ion-row class="each-seting">
    <!-- <ion-col size="6"> -->
      <ion-row class="full-height">
        <span class="change-password sel-lng">{{ 'select_language' | translate }}</span>
        <ion-select class="select-class lng-setmode" (ionChange)="selectedLng()" [formControl]="selectFormControl"
          [(ngModel)]="selectLng" required>
          <ion-select-option value="en" (click)="selectedLng()">
            {{ 'english' | translate }}
          </ion-select-option>

          <ion-select-option value="ru" (click)="selectedLng()">
            {{ 'russian' | translate }}
          </ion-select-option>
        </ion-select>
      </ion-row>
    <!-- </ion-col> -->
    <!-- <ion-col size="6">
      <ion-row class="full-height lng-setmode">
        <ion-select class="select-class" (ionChange)="selectedLng()" [formControl]="selectFormControl"
          [(ngModel)]="selectLng" required>
          <ion-select-option value="en" (click)="selectedLng()">
            {{ 'english' | translate }}
          </ion-select-option>

          <ion-select-option value="ru" (click)="selectedLng()">
            {{ 'russian' | translate }}
          </ion-select-option>
        </ion-select>
      </ion-row>
    </ion-col> -->
  </ion-row>

</ion-content>